@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto+Condensed:ital,wght@1,500&family=Roboto:ital,wght@0,500;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.logo {
    text-decoration: none;
    color: #8351ff;
    font-size: 40px;
    font-weight: 600;
}

.navbar-top .nav-link:hover {
    color: rgba(0, 0, 255, 0.606);
}

.n-btn {
    background-color: #306A9A;
    color: white;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 80px;
    font-weight: 500;
    transition: all ease 0.5s;
}

.n-btn:hover {
    background-color: rgba(0, 0, 255, 0.568);
}

@media screen and (max-width:1000px){
    .n-btn{
        display: none;
    }
}

/* home section  */

.home {
    background-image: url(../Assets/bg.avif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 140vh;
    position: relative;
    padding-top: 15%;
    padding-left: 10%;
}

.home .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.h-text {
    width: 55%;
    height: 50vh;
    color: white;
}

.h-text p {
    font-size: 16px;
    padding-top: 20px;
    font-weight: 500;
    padding-bottom: 40px;
}

.h-text a,
.h-btn1 {
    padding: 15px 50px;
    border: none;
    text-decoration: none;
    background-image: linear-gradient(130deg, blue 30%, rgb(124, 124, 242));
    color: white;
    font-weight: 500;
    border-radius: 90px;
    transition: all ease 0.5s;
}

.h-btn2 {
    margin-left: 20px;
}

.h-text a:hover,
.h-btn1:hover {
    background-image: linear-gradient(130deg, rgb(124, 124, 242) 10%, blue);
}

.hero-img {
    position: absolute;
    right: 10%;
    top: 20%;
    z-index: 10;
}

@media screen and (max-width: 400px) {
    .home {
        height: 200vh;
        padding: 5%;
        padding-top: 40%;
    }

    .h-text {
        width: 100%;
    }

    .h-btn1 {
        display: none;
    }

    .hero-img {
        position: absolute;
        top: 50%;
        width: 250px;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    .home {
        height: 250vh;
        padding: 5%;
        padding-top: 20%;
    }

    .h-text {
        width: 100%;
    }

    .h-btn1 {
        display: none;
    }

    .hero-img {
        position: absolute;
        top: 40%;
        width: 80%;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .home {
        height: 200vh;
        padding: 5%;
        padding-top: 20%;
    }

    .h-text {
        text-align: center;
        width: 100%;
    }

    .hero-img {
        position: absolute;
        top: 40%;
        width: 60%;
        padding-right: 20%;
    }
}

/* about section */
.about {
    width: 100%;
    height: 100vh;
}

.about-row {
    display: flex;
    flex-direction: row;
}

.col1 {
    width: 50%;
    height: 100vh;
}

.a-text {
    width: 80%;
    height: 60vh;
    margin-left: 20%;
    margin-top: 30%;
}

.a-text p {
    padding-top: 20px;
    font-weight: 450;
    padding-bottom: 10px;
}

#counter {
    display: flex;
    flex-direction: row;
}

.a-1 {
    display: flex;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.a-main {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}

.a-1 i {
    padding-right: 20px;
    padding-top: 15px;
}

.a-1b {
    font-size: 15px;
}

.col2 {
    width: 50%;
    height: 100vh;
}

.a-img {
    width: 90%;
    padding-top: 25%;
    padding-left: 10%;
}

@media screen and (max-width:400px) {
    .about {
        width: 100%;
        height: 150vh;
    }

    .about-row {
        display: flex;
        flex-direction: column;
    }

    .col1 {
        width: 100%;
    }

    .a-text {
        padding: 0;
        margin: 5%;
    }

    .a-text .h-btn1 {
        display: block;
        font-size: 15px;
        padding: 10px 20px;
        width: 50%;
    }

    .col2 {
        height: 50vh;
    }

    .a-img {
        width: 180%;
        padding: 0;
    }
}

@media (min-width:400px) and (max-width:600px) {
    .about {
        width: 100%;
        height: 170vh;
    }

    .about-row {
        display: flex;
        flex-direction: column;
    }

    .col1 {
        width: 100%;
    }

    .a-text {
        padding: 0;
        margin: 5%;
    }

    .a-text .h-btn1 {
        display: block;
        font-size: 15px;
        width: 45%;
    }

    .col2 {
        height: 80vh;
    }

    .a-img {
        width: 180%;
        padding: 0;
    }
}

@media (min-width:600px) and (max-width:900px) {
    .about {
        width: 100%;
        height: 200vh;
    }

    .about-row {
        display: flex;
        flex-direction: column;
    }

    .col1 {
        width: 100%;
    }

    .a-text {
        padding: 0;
        margin: 5%;
    }

    .a-text .h-btn1 {
        display: block;
        font-size: 15px;
        padding: 10px 20px;
        width: 50%;
    }

    .col2 {
        height: 100vh;
    }

    .a-img {
        width: 180%;
        padding: 0;
    }
}

/* feature section  */
.feature {
    width: 100%;
    height: 125vh;
    padding-top: 10%;
}


.row1,
.row2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.r-col {
    width: 35%;
    height: 40vh;
    background-color: #f9fafa;
    border-radius: 10px;
    background: linear-gradient(145deg, #e0e1e1, #ffffff);
    box-shadow: 14px 14px 28px #c2c3c3,
        -14px -14px 28px #ffffff;
    padding: 25px 0 0 30px;
}

.r-col h5 {
    padding: 20px 0 10px 0;
}

.r-col i {
    color: white;
    background-color: #5378E8;
    padding: 20px;
    font-size: 25px;
    border-radius: 50%;

}

@media screen and (max-width: 400px) {
    .feature{
        width: 100%;
        height: 350vh;
    }

    .row1,
    .row2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 0;
    }
    .r-col{
        width: 100%;
        height: 50vh;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    .feature{
        width: 100%;
        height: 350vh;
    }

    .row1,
    .row2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
    .r-col{
        width: 80%;
        height: 50vh;
        margin: auto;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .feature{
        width: 100%;
        height: 200vh;
    }

    .row1,
    .row2 {
        display: flex;
        flex-direction: row;
        gap: 1rem;

    }
    .r-col{
        width: 100%;
        height: 70vh;
        margin: auto;
        padding-right: 5%;
    }
}

/* screenshoot section  */
.screenshot{
    width: 100%;
    height: 100vh;
    margin-top: 0;
}
.s-img{
    width: 37%;
    padding-top: 30%;
    margin-left: 35%;
}

@media screen and (max-width:400px){
    .screenshot{
        width: 100%;
        height: 230vh;
    }
    .screenshot .col1{
        height: 120vh;
    }
    .s-img{
        width: 280px;
        padding: 0;
        margin: 5%;
    }
}


@media (min-width:400px) and (max-width:600px){
    .screenshot{
        width: 100%;
        height: 200vh;
    }
    .screenshot .col1{
        height: 100vh;
    }
    .s-img{
        width: 100%;
        padding: 0;
        margin: 0;
        margin-left: 50%;
    }
}

@media (min-width:600px) and (max-width:1000px){
    .screenshot{
        width: 100%;
        height: 240vh;
    }
    .screenshot .col1{
        height: 100vh;
    }
    .s-img{
        width: 100%;
        padding: 0;
        margin: 0;
        margin-left: 50%;
    }
}

/* download section */

.download .col1{
    width: 40%;
}
.download .a-img{
    width: 100%;
    margin-top: 10%;
}

.d-form{
    display: flex;
    flex-direction: row;
}
.f-1, .f-2{
    width: 40%;
    height: 15vh;
    background-color: #7147F3;
    border-radius: 10px;
    margin: 5%;
    margin-left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 3.5%;
}

.d-form i{
    font-size: 50px;
    padding-right: 15px;
}
.d-form span{
    font-weight: 500;
}

@media screen and (max-width:400px){
    .download .col1, .download .col2{
        width: 100%;
    }
    .download .col1{
        height: 60vh;
    }
    .d-form{
        display: flex;
        flex-direction: column;
    }
    .f-1, .f-2{
        width: 80%;
    }
}

@media (min-width:400px) and (max-width:600px){
    .download .col1, .download .col2{
        width: 100%;
    }
    .download .col1{
        height: 90vh;
    }
    .d-form{
        display: flex;
        flex-direction: column;
    }
    .f-1, .f-2{
        width: 80%;
    }
}

@media (min-width:600px) and (max-width:1000px){
    .download .col1, .download .col2{
        width: 100%;
    }
    .download .col1{
        height: 120vh;
    }
}


/* pricing section  */

.pricing{
    width: 100%;
    height: 100vh;
}

h1.demo-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #2A293E;
    letter-spacing: 2px;
  }
  
  h1.demo-title a {
    font-size: 16px;
    font-weight: 300;
  }
  
  .pricing-table {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background: #ffffff;
  }
  
  .pricing-table .ptable-item {
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  
  @media (max-width: 992px) {
    .pricing-table .ptable-item {
      width: 33.33%;
    }
  }
  
  @media (max-width: 768px) {
    .pricing-table .ptable-item {
      width: 50%;
    }
  }
  
  @media (max-width: 576px) {
    .pricing-table .ptable-item {
      width: 100%;
    }
  }
  
  .pricing-table .ptable-single {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .pricing-table .ptable-header,
  .pricing-table .ptable-body,
  .pricing-table .ptable-footer {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  
  .pricing-table .ptable-status ,
  .pricing-table .ptable-title,
  .pricing-table .ptable-price,
  .pricing-table .ptable-description,
  .pricing-table .ptable-action {
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .pricing-table .ptable-single {
    background: #f6f8fa;
  }
  
  .pricing-table .ptable-single:hover {
    box-shadow: 0 0 10px #999999;
  }
  
  .pricing-table .ptable-header {
    margin: 0 30px;
    padding: 30px 0 45px 0;
    width: auto;
    background: #2A293E;
  }
  
  .pricing-table .ptable-header::before,
  .pricing-table .ptable-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 100px solid #f6f8fa;
  }
  
  .pricing-table .ptable-header::before {
    right: 50%;
    border-right: 250px solid transparent;
  }
  
  .pricing-table .ptable-header::after {
    left: 50%;
    border-left: 250px solid transparent;
  }
  
  .pricing-table .ptable-item.featured-item .ptable-header {
    background: #7343F4;
  }
  
  .pricing-table .ptable-status {
    margin-top: -30px;
  }
  
  .pricing-table .ptable-status span {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    padding: 5px 0;
    text-align: center;
    color: #7343F4;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    background: #2A293E;
  }
  
  .pricing-table .ptable-status span::before,
  .pricing-table .ptable-status span::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 10px solid #7343F4;
  }
  
  .pricing-table .ptable-status span::before {
    right: 50%;
    border-right: 25px solid transparent;
  }
  
  .pricing-table .ptable-status span::after {
    left: 50%;
    border-left: 25px solid transparent;
  }
  
  .pricing-table .ptable-title h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  
  .pricing-table .ptable-price h2 {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    margin-left: 15px;
  }
  
  .pricing-table .ptable-price h2 small {
    position: absolute;
    font-size: 18px;
    font-weight: 300;
    margin-top: 16px;
    margin-left: -15px;
  }
  
  .pricing-table .ptable-price h2 span {
    margin-left: 3px;
    font-size: 16px;
    font-weight: 300;
  }
  
  .pricing-table .ptable-body {
    padding: 20px 0;
  }
  
  .pricing-table .ptable-description ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .pricing-table .ptable-description ul li {
    color: #2A293E;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 7px;
    border-bottom: 1px solid #dedede;
  }
  
  .pricing-table .ptable-description ul li:last-child {
    border: none;
  }
  
  .pricing-table .ptable-footer {
    padding-bottom: 30px;
  }
  
  .pricing-table .ptable-action a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    background: #2A293E;
  }
  
  .pricing-table .ptable-action a:hover {
    color: #fff;
    background: #7343F4;
  }
  
  .pricing-table .ptable-item.featured-item .ptable-action a {
    color: #fff;
    background: #7343F4;
  }
  
  .pricing-table .ptable-item.featured-item .ptable-action a:hover {
    color: #fff;
    background: #2A293E;
  }


  /* reviews section  */
  .reviews{
    width: 100%;
    height: 120vh;
	color: #000;
	font-family: "Shippori Antique", sans-serif;
	display: grid;
	place-items: center;
  }

  
button,
input,
select {
	font-family: inherit;
	font-size: 100%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}



.content-wrapper {
	height: 100%;
	width: 80%;
    margin: auto;
	max-width: 100rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5rem;
}

h1 {
	margin-bottom: calc(0.7rem + 0.5vmin);
	font-size: calc(2.3rem + 1vmin);
}

.blue-line {
	height: 0.3rem;
	width: 6rem;
	background-color: rgb(79, 143, 226);
	margin-bottom: calc(3rem + 2vmin);
}

.wrapper-for-arrows {
	position: relative;
	width: 100%;
	border-radius: 2rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	overflow: hidden;
	display: grid;
	place-items: center;
}

.review-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: calc(2rem + 1vmin);
	width: 100%;
}

#imgDiv {
	border-radius: 50%;
	width: calc(6rem + 4vmin);
	height: calc(6rem + 4vmin);
	position: relative;
	box-shadow: 5px -3px rgb(79, 143, 226);
	background-size: cover;
	margin-bottom: calc(0.7rem + 0.5vmin);
}

.chicken {
	background-image: url("https://media0.giphy.com/media/A8Cdznswn5vnG/200w.gif?cid=790b7611e8c5980ee7141bc18ec12c49962b871eb404ba5b&rid=200w.gif&ct=s");
	width: 200px;
	height: 250px;
	position: absolute;
	top: 12%;
}

#imgDiv::after {
	content: "''";
	font-size: calc(2rem + 2vmin);
	font-family: sans-serif;
	line-height: 150%;
	color: #fff;
	display: grid;
	place-items: center;
	border-radius: 50%;
	background-color: rgb(79, 143, 226);
	position: absolute;
	top: 10%;
	left: -10%;
	width: calc(2rem + 2vmin);
	height: calc(2rem + 2vmin);
}

#personName {
	margin-bottom: calc(0.7rem + 0.5vmin);
	font-size: calc(1rem + 0.5vmin);
	letter-spacing: calc(0.1rem + 0.1vmin);
	font-weight: bold;
}

#profession {
	font-size: calc(0.8rem + 0.3vmin);
	margin-bottom: calc(0.7rem + 0.5vmin);
	color: rgb(79, 143, 226);
}

#description {
	font-size: calc(0.8rem + 0.3vmin);
	width: 70%;
	max-width: 40rem;
	text-align: center;
	margin-bottom: calc(1.4rem + 1vmin);
	color: rgb(92, 92, 92);
	line-height: 2rem;
}

.arrow-wrap {
	position: absolute;
	top: 50%;
}

.arrow {
	width: calc(1.4rem + 0.6vmin);
	height: calc(1.4rem + 0.6vmin);
	border: solid rgb(79, 143, 226);
	border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
	cursor: pointer;
	transition: transform 0.3s;
}

.arrow:hover {
	transition: 0.3s;
	transform: scale(1.15);
}

.left-arrow-wrap {
	left: 5%;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.right-arrow-wrap {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	right: 5%;
}

.surprise-me-btn {
	border: 2px solid rgb(79, 143, 226);
	background-color: rgb(224, 238, 255);
	color: rgb(79, 143, 226);
	border-radius: 2rem;
	padding: calc(0.5rem + 0.2vmin) 0;
	width: calc(7rem + 5vmin);
	text-align: center;
	transition: background-color 0.3s, transform 0.3s;
	cursor: pointer;
	margin-bottom: calc(1.4rem + 1vmin);
}

.surprise-me-btn:hover {
	transition: background-color 0.3s, transform 0.3s;
	background-color: rgb(255, 255, 255);
	transform: rotate(5deg);
}

.move-head {
	animation: moveHead 1.55s infinite;
	animation-delay: -0.8s;
}

.hide-chicken-btn {
	border: 2px solid rgb(226, 89, 79);
	background-color: rgb(255, 224, 224);
	color: rgb(226, 79, 79);
	border-radius: 2rem;
	padding: calc(0.5rem + 0.2vmin) 0;
	width: calc(10rem + 5vmin);
	text-align: center;
	transition: background-color 0.3s, transform 0.3s;
	cursor: pointer;
	margin-bottom: calc(1.4rem + 1vmin);
}

.hide-chicken-btn:hover {
	transition: background-color 0.3s, transform 0.3s;
	background-color: rgb(255, 255, 255);
	transform: rotate(5deg);
}

@keyframes moveHead {
	0% {
	}
	25% {
		transform: translate(0.5rem, 1rem) rotate(5deg);
	}
	100% {
		transform: translate(0, 0) rotate(-5deg);
	}
}

@media screen and (max-width: 900px) {
	.content-wrapper {
		width: 100%;
	}
}

@media screen and (max-width:400px){
    .reviews{
        margin-top: 170vh;
        width:100%;
        height: 170vh;
    }

}

@media (min-width:400px) and (max-width:600px){
    .reviews{
        margin-top: 170vh;
        width:100%;
        height: 170vh;
    }
}
@media (min-width:600px) and (max-width:900px){
    .reviews{
        margin-top: 90vh;
        width:100%;
        height: 150vh;
    }
}