@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto+Condensed:ital,wght@1,500&family=Roboto:ital,wght@0,500;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    text-decoration: none;
    color: #8351ff;
    font-size: 40px;
    font-weight: 600;
}
.navbar-top .nav-link:hover{
    color: rgba(0, 0, 255, 0.606);
}

.n-btn{
    background-color: #306A9A;
    color: white;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 80px;
    font-weight: 500;
    transition: all ease 0.5s;
}

.n-btn:hover{
    background-color: rgba(0, 0, 255, 0.568);
}

.home{
    background-image: url(../Assets/bg.avif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 130vh;
    position: relative;
    padding-top: 15%;
    padding-left: 10%;
}

.home .wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.h-text{
    width: 55%;
    background-color: green;
    height: 50vh;
    color: white;
}

.h-text p{
    font-size: 23px;
}

